* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_07101D: #07101d;
  --color_FF3C00: #ff3c00;
}

body {
  font-family: kalameh;
  background-color: var(--color_07101D);
}

@font-face {
  font-family: gilroy;
  font-style: normal;
  font-weight: bold;
  src: url("../font/WebFonts/_Woff/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 900;
  src: url("../font/WebFonts/_Woff/KalamehWeb-Black.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../font/WebFonts/_Woff/KalamehWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../font/WebFonts/_Woff/KalamehWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Bold.woff")
    format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Regular.woff")
    format("woff");
}

a {
  text-decoration: none;
}

.f_gilroy{
  font-family: gilroy;
}

header::before {
  content: "";
  width: 620px;
  height: 620px;
  background-image: radial-gradient(#3d0d5861 38%, #070f1c00 0);
  filter: blur(74px);
  -webkit-filter: blur(74px);
  position: absolute;
  opacity: 0.9;
  right: -230px;
  top: -270px;
  z-index: -1;
}

.text_FF3C00 {
  color: var(--color_FF3C00);
}
.border_FF3C00 {
  border-color: var(--color_FF3C00) !important;
}
.bg_FF3C00 {
  background-color: var(--color_FF3C00);
}
.w_70 {
  width: 70%;
}
.title_main_header {
  font-size: 4rem;
}
.icon_header_container {
  width: 80px;
  height: 80px;
}
.bg_linear_gradient_main_site {
  background-image: linear-gradient(to right, #7011ad, #bc0505, #fc630f);
}
.main_img_header::before,
.main_img_header::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}
.main_img_header::before {
  background-image: url("../img/Path\(broken\).png");
  width: 36px;
  height: 46px;
  top: 4rem;
  left: 24rem;
}
.main_img_header::after {
  background-image: url("../img/Path\(curve\).png");
  width: 64px;
  height: 30px;
  top: 25rem;
  left: 0rem;
}
.count_user_site {
  width: 300px;
  height: 80px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 82px;
  right: 72px;
}
.search_form_header {
  height: 68px;
}
.search_form_header button {
  right: 12px;
  top: 18px;
}
.wallet_box_1,
.wallet_box_6 {
  background-image: linear-gradient(to right bottom, #07101d, #fc2803);
}
.wallet_box_1::after,.wallet_box_6::after{
  border-top: 1px solid #fc2803;
}
.wallet_box_2 {
  background-image: linear-gradient(to right bottom, #07101d, #ffbb0d);
}.wallet_box_2::after{
  border-top: 1px solid #ffbb0d;
}
.wallet_box_3 {
  background-image: linear-gradient(to right bottom, #07101d, #00d1ff);
}
.wallet_box_3::after{
  border-top: 1px solid #00d1ff;
}
.wallet_box_4 {
  background-image: linear-gradient(to right bottom, #07101d, #fe007a);
}
.wallet_box_4::after{
  border-top: 1px solid #fe007a;
}
.wallet_box_5 {
  background-image: linear-gradient(to right bottom, #07101d, #760aff);
}
.wallet_box_5::after{
  border-top:1px solid #760aff;
}

.wallet_box {
  padding: 1px;
  height: 188px;
}
.wallet_box > div {
  background-color: #161e2a;
}

.wallet_box::after{
  content: '';
  width: 43px;
  height: 22px;
  background-color: #07101d;
  position: absolute;
  right: -15px;
  bottom: -5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.box_hot_bids{
  background-color: rgba(255, 255, 255, 0.1);
}
.img_hot_bids > div{ 
  top: 1.5rem ;
  left: 2rem;
}
.heart_icon_hot_bids{
  width: 58px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}
.text_time_hot_bids{
  width: 172px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: gilroy;
  font-size: 24px;
}

@media screen and (max-width: 635.98) {
  .title_main_header {
    font-size: 1.25rem;
  }
  header::before {
    content: '';
    width: 730px;
    height: 730px;
    right: 20px;
    top: 0px;
    z-index: -2;
  }
  .text_time_hot_bids{
    width: 69px;
    height: 22px;
    font-size: 12px;
  }

}
