* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color_07101D: #07101d;
  --color_FF3C00: #ff3c00;
}

body {
  font-family: kalameh;
  background-color: var(--color_07101D);
}

@font-face {
  font-family: gilroy;
  font-style: normal;
  font-weight: bold;
  src: url("../font/WebFonts/_Woff/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: 800;
  src: url("../font/WebFonts/_Woff/KalamehWeb-Black.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../font/WebFonts/_Woff/KalamehWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../font/WebFonts/_Woff/KalamehWeb-Regular.woff") format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: bold;
  src: url("../font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Bold.woff")
    format("woff");
}
@font-face {
  font-family: kalameh;
  font-style: normal;
  font-weight: normal;
  src: url("../font/WebFonts/_Woff/KalamehWeb\(FaNum\)-Regular.woff")
    format("woff");
}

a {
  text-decoration: none;
}
ul{
  list-style: none;
}

.f_gilroy{
  font-family: gilroy;
}

.ellipse_1 {
  content: "";
  width: 620px;
  height: 620px;
  background-image: radial-gradient(#3d0d5861 38%, #070f1c00 0);
  filter: blur(74px);
  -webkit-filter: blur(74px);
  position: absolute;
  opacity: 0.9;
  right: -230px;
  top: -270px;
  z-index: -1;
  overflow: hidden;
}

.text_FF3C00 {
  color: var(--color_FF3C00);
}
.border_FF3C00 {
  border-color: var(--color_FF3C00) !important;
}
.bg_FF3C00 {
  background-color: var(--color_FF3C00);
}
.mt_10{
  margin-top: 10rem;
}
.mb_7{
  margin-bottom: 7rem;
}
.m_6{
  margin: 6rem;
}
.w_70 {
  width: 70%;
}
.w_90{
  width: 90%;
}
.title_main_header {
  font-size: 4rem;
}
.icon_header_container {
  width: 80px;
  height: 80px;
}
.bg_linear_gradient_main_site {
  background-image: linear-gradient(to right, #7011ad, #bc0505, #fc630f);
}
.main_img_header::before,
.main_img_header::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
}
.main_img_header::before {
  background-image: url("../img/Path\(broken\).png");
  width: 36px;
  height: 46px;
  top: 4rem;
  left: 24rem;
}
.main_img_header::after {
  background-image: url("../img/Path\(curve\).png");
  width: 64px;
  height: 30px;
  top: 25rem;
  left: 0rem;
}
.count_user_site {
  width: 300px;
  height: 80px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: 82px;
  right: 72px;
}
.search_form_header {
  height: 68px;
}
.search_form_header button {
  right: 12px;
  top: 18px;
}
.wallet_box_1,
.wallet_box_6 {
  background-image: linear-gradient(to right bottom, #07101d, #fc2803);
}
.wallet_box_1::after,.wallet_box_6::after{
  border-top: 1px solid #fc2803;
}
.wallet_box_2 {
  background-image: linear-gradient(to right bottom, #07101d, #ffbb0d);
}.wallet_box_2::after{
  border-top: 1px solid #ffbb0d;
}
.wallet_box_3 {
  background-image: linear-gradient(to right bottom, #07101d, #00d1ff);
}
.wallet_box_3::after{
  border-top: 1px solid #00d1ff;
}
.wallet_box_4 {
  background-image: linear-gradient(to right bottom, #07101d, #fe007a);
}
.wallet_box_4::after{
  border-top: 1px solid #fe007a;
}
.wallet_box_5 {
  background-image: linear-gradient(to right bottom, #07101d, #760aff);
}
.wallet_box_5::after{
  border-top:1px solid #760aff;
}

.wallet_box {
  padding: 1px;
  height: 188px;
}
.wallet_box > div {
  background-color: #161e2a;
}

.wallet_box::after{
  content: '';
  width: 43px;
  height: 22px;
  background-color: #07101d;
  position: absolute;
  right: -15px;
  bottom: -5px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.box_hot_bids{
  background-color: rgba(255, 255, 255, 0.1);
}
.img_hot_bids > div{ 
  top: 1.5rem ;
  left: 2rem;
}
.heart_icon_hot_bids{
  width: 58px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

}
.text_time_hot_bids{
  width: 172px;
  height: 58px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  font-family: gilroy;
  font-size: 24px;
}
.section_property{
  margin-top: 11rem;
}
.box_property{
  height: 240px;
}
.icon_box_property{
  right: 2rem;
  top: -2.5rem;
  width: 72px;
  height: 72px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  margin-bottom: 1rem;
}
.box_property_1{
  border: 1px solid #00f1aa;
  background: linear-gradient(107deg, rgba(0, 255, 26, 0.1),rgba(255, 255, 255, 0.1));
}
.box_property_2{
  border: 1px solid #5300ff;
  background: linear-gradient(107deg, rgba(83, 0, 255, 0.1),rgba(255, 255, 255, 0.1));
}
.box_property_3{
  border: 1px solid #ff1f00;
  background: linear-gradient(107deg, rgba(255, 0, 31, 0.1),rgba(255, 255, 255, 0.1));
}

.img_box_trends{
  -webkit-transform: translateY(95px);
  -moz-transform: translateY(95px);
  -ms-transform: translateY(95px);
  -o-transform: translateY(95px);
  transform: translateY(95px);
}
.caption_box_trends{
  padding-top: 7rem;
  height: 220px;
  background-color: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(90px);
  -webkit-backdrop-filter: blur(90px); */
}
.ellipse_3{
  z-index: -1;
  width: 1605px;
  height: 1613px; 
  top: -10rem;
  right: -45rem; 
  background: radial-gradient(62.37% 62.37% at 50% 50%, rgba(189, 9, 95, 0.07) 37.62%, rgba(7, 15, 28, 0) 100%); 
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
}
.badge_off{
  top: 3rem;
}
.box_top_creator{
  height: 182px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
}

footer{
  background-color: #091028;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}
.ellipse_4{
  z-index: 2;
  width: 615px;
  height: 584px; 
  top: -11%;
  right: -12%; 
  background: radial-gradient(62.37% 62.37% at 50% 50%, rgba(8, 52, 164, 0.20) 21.7%, rgba(7, 15, 28, 0.00) 100%); 
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px); 
}


@media screen and (max-width: 900.98) {
  .title_main_header{
    font-size: 0.8rem;
    font-weight: 600;
  }
}
@media screen and (max-width: 635.98) {
  .title_main_header {
    font-size: 0.5rem;
  }

  .text_time_hot_bids{
    width: 69px;
    height: 22px;
    font-size: 12px;
  }

}
